:root{

  

  /* 默认灰色底色 */
  --default:#d9d9d9;


  /* 按钮点击 */
  --btn-click:#f0f0f0;

  /* input hover */
  --input-hover:#a5a5a5; 

  /* select 选中背景 */
  --select-selected:rgb(245,247,250);
  --select-option-zIndex:100;

  /* 表格外边框 */
  --table-out-border:#d9d9d9;
    /* 表格内边框 */
  --table-border:#d9d9d9;
  --table-hover:rgb(245,247,250); 

  --primary:rgb(64,158,255);
  --primary-select:rgb(102,177,255);


  --success:rgb(103,194,58);
  --success-select:rgb(133,206,97);

  --info:rgb(144,147,153);
  --info-select:rgb(166,169,173);
  
  

  --warning:rgb(230,162,60);
  --warning-select:rgb(235,181,99);
  
  

  --danger:rgb(245,108,108);
  --danger-select:rgb(247,137,137);
  
  


}
*{
  font-size: 1rem;
}